@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500&display=swap');
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.footer {
	width: 100%;
	height: auto;
	background-color: #1b748f;
	padding: 40px 0;
}
.footer-inner {
	width: 100%;
	height: auto;
	background: #fff;
	padding: 24px;
}
.map iframe {
	width: 100%;
	height: 340px;
	border: none;
}
.contact-text {
	width: 100%;
	height: auto;
}
.contact-text h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	font-weight: 600;
	color: #eb4034;
	margin: 0px;
	padding-bottom: 20px;
}
.contact-text h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: #444;
	margin: 0px;
	padding-top: 25px;
}
.contact-text h2 i {
	color: #17bbd4;
}
.contact-text p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0px;
	padding-top: 5px;
	padding-left: 24px;
	font-weight: 100;
}
.footer-mein {
	width: 100%;
	height: auto;
	background: #17bbd4;
	padding: 30px 0;
}
.footer-soical {
	width: 100%;
	height: auto;
}
.footer-soical h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	font-weight: 500;
	color: #fff;
	margin: 0px;
	text-align: left;
}
.footer-soical h3 span {
	font-size: 14px;
	font-weight: 200;
}
.social-innar {
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 20px;
}
.social-innar ul {
	margin: 0px;
	padding: 0px;
}
.social-innar ul li {
	float: left;
	margin: auto;
	list-style: none;
}
.social-innar ul li a {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #fff;
	padding: 13px 20px;
	background: #000;
}
	
.form {
	width: 100%;
	height: auto;
	margin: auto;
}
.form-style1 {
	width: 300px;
	height: 44px;
	padding-left: 10px;
	border: 1px solid #99999;
	margin-top: -7px;
}
.form-submit1 {
	width: 51px;
	height: 43px;
	background: url(../images/submit.jpg);
	border: none;
	margin-top: -7px;
}
.footer-bottom {
	width: 100%;
	height: auto;
	margin: auto;
	background-color: #0a0a0a;
}
.footer-bottom p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #fff;
	font-weight: 100;
	margin: 0px;
	padding: 8.5px 0;
	text-decoration: none;
}
.footer-bottom p span {
	font-size: 14px;
}
.footer-bottom p a {
	color: #fff;
	text-decoration: none;
}
 @media only screen and (min-width:360px) and (max-width:479px) {
.map iframe {
	height: 150px;
}
.contact-text {
	padding: 15px;
}
.contact-text h1 {
	font-size: 24px;
	padding-bottom: 10px;
}
.contact-text h2 {
	font-size: 18px;
	padding-top: 10px;
}
.contact-text p {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}
.footer-soical h3 {
	font-size: 18px;
}
.footer-soical h3 span {
	font-size: 12px;
}
.social-innar {
	text-align: center;
}
.social-innar ul li {
	float: none;
	display: inline-block;
}
.social-innar ul li a {
	font-size: 10px;
	padding: 5px 10px;
}
.form-style1 {
	width: 260px;
	padding-left: 10px;
	margin-top: 0px;
	font-size: 12px;
}
.footer-bottom {
	height: 60px;
}
.footer-bottom p {
	font-size: 12px;
	text-align: center;
}
.pull-right {
	float: none;
}
}